.sent{
    color:black;
}

.recieved{
   
    flex-direction: row-reverse;
}

.msg{
    display: flex;
    margin-bottom: 0.8em;
    margin-left: 0.4em;
    margin-right: 0.4em;
}

.msg img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    
}

.msg p{
    padding: 0;
    margin: 0;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    background-color: #E7EAEF;
    border: solid 0.5em #E7EAEF;
    border-radius: 2em;
    font-size: 16px;
}


